$enable-negative-margins: true;
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.search-form:focus {
  box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%) !important;
}
.custom-btn {
  background-color: blueviolet !important;
  border: #fff !important;
}
.img_card {
  overflow: hidden;
  height: 200px;
  img {
    height: 100%;
    transition: 0.5s ease 0s;
    border-color: gray;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.main-wrapper {
  height: 100vh;
}
.show-more:hover {
  text-decoration: underline;
}

/* Footer start */

/* Footer end */

$utilities: map-merge(
  $utilities,
  (
    "test": (
      property: cursor,
      class: test,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);

@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";
